
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%; /* Full height for the container */
  flex-wrap: wrap; /* Ensure videos stack properly on smaller screens */
  /* background-color: #242424; */
}

.video-wrapper {
  position: relative; /* For consistent aspect ratio */
  width: 100%; /* Take the full width of the container */
  max-width: 640px; /* Optional: Limit the maximum width */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  background-color: #000; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the area without distortion */
  border-radius: 8px;
  transform: scaleX(-1); /* Horizontally flip the local video */
}

  
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000; /* Black background for loader */
}
  
  
  @media (max-width: 768px) {
    .video-container {
      flex-direction: column; /* Stack videos vertically on small screens */
      gap: 1rem; /* Add more space between stacked videos */
    }
  
    .video {
      width: 100%; /* Videos take full width on mobile */
    }
  }
  

/* Main container styling */
.container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 4rem;
  }
  
  /* Button container styling */
  .button-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* Dummy div styling */
  .dummy-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
  }
  
  /* Button styling */
  .icon-button {
    outline: none;
    border: none;
    cursor: pointer; /* Change cursor to pointer for better UX */
  }
  
  /* Icon styling */
  .icon {
    color: #8F47FF;
    border: 0px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 1rem;
      margin-left: 3rem;
    }

    .video-wrapper {
      width: 100%;
    }

    
  }

  